[submodule "output"]
	path = output
	url = git@github.com:JhonnyJason/script-factory-pwa-output.git
[submodule "sources"]
	path = sources
	url = git@github.com:JhonnyJason/script-factory-pwa-sources.git
[submodule "toolset"]
	path = toolset
	url = git@github.com:JhonnyJason/toolset.git
